<!-- topic followers and contributors card -->
<article class="topic-follower-and-contributors-card hidden p-[50px] bg-white w-[500px] h-[600px] absolute mx-auto top-[50%] left-[50%] -ml-[250px] -mt-[300px] z-30">
    <header class="flex items-center gap-5">
        <button class="topic-followers-btn text-xl text-black">Followers</button>
        <button class="topic-contributors-btn text-xl text-lightgray">Contributors</button>
    </header>
    <!-- followers -->
    <section class="topic-followers-container mt-[50px] flex flex-col gap-5">
        {% for follower in topic.followers %}
            {% set user = follower.users %}  <!-- remember to change users to user -->
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
        {% endfor %}
    </section>

    <!-- contributors -->
    <section class="topic-contributors-container flex mt-[50px] flex-col gap-5 hidden">
        {% for follower in topic.followers %}
            {% set user = follower.users %}  <!-- remember to change users to user -->
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
        {% endfor %}
    </section>
</article>