<!-- topic followers and contributors card -->
<article class="bookmarks-view followers-and-contributors-card is-hidden fixed z-50 pt-[100px] bg-offwhite transition-all ease-out -bottom-[100%] w-full h-full overflow-y-scroll px-5 pb-[200px] drop-shadow-lg sm:rounded-2xl sm:px-16 sm:pb-[200px] sm:w-[80%] sm:left-[10%] sm:right-[10%] md:rounded-none md:pb-[50px] md:left-auto md:drop-shadow-lg md:top-0 md:overflow-x-hidden md:-right-[100%] md:w-[400px] lg:w-[500px] md:px-[60px] md:border-2 md:h-screen md:overflow-y-scroll no-scrollbar">
    <header class="flex items-center gap-5">
        <button class="topic-followers-btn text-xl text-black">Followers</button>
        <button class="topic-contributors-btn text-xl text-lightgray">Contributors</button>
    </header>
    <!-- followers -->
    <section class="topic-followers-container mt-[50px] flex flex-col gap-5">
        {% for follower in topic.followers %}
            {% set user = follower.users %}  <!-- remember to change users to user -->
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
        {% endfor %}
    </section>

    <!-- contributors -->
    <section class="topic-contributors-container flex mt-[50px] flex-col gap-5 hidden">
        {% for follower in topic.followers %}
            {% set user = follower.user %}  <!-- remember to change users to user -->
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
            <article>
                {% include 'components/profile-card-sm.html' %}
                <p class="text-xs text-lightgray">I was laughed at when I started fashion, but today I represent my country Ghana in the biggest fashion show</p>
            </article>
        {% endfor %}
    </section>
</article>