{% extends 'root.html' %}
{% block miscellaneous %}
<section class="relative h-screen w-full flex items-center before:block before:absolute before:inset-0 before:w-full before:h-full before:bg-[url('../static/images/write.webp')] md:before:hidden">
    <div class="container sm:-mt-10 mx-auto w-full md:w-[60%] lg:w-[55%] flex flex-col justify-center z-10 items-center">
        <!--<mark class="p-2 bg-white ">storyafrika</mark>-->
        <h1 class="text-xl sm:-mt-14 font-medium mb-20 text-lightgray sm:text-black bg-clip-text flex flex-col items-center"> <img src="/static/images/logo-empty-bg.png" alt="" srcset="" class="w-[60px] h-[60px] object-cover"><mark class="mt-1 p-2 bg-white ">Welcome to StoryAfrika</mark></h1>
        <form action="" class="" method="post" novalidate>
            {{form.hidden_tag()}}
    
            {#{{ form.username.label }}#}
            {{ form.username(class="bg-white text-lightgray border-2 p-1 rounded-lg focus:outline-lightblue w-full sm:w-[290px]", placeholder="Username", size=32, autofocus=True) }}
            {% for error in form.username.errors %}
            <p style="color: rgb(228, 142, 36);">{{error}}</p>
            {% endfor %}</br></br>
    
            {#{{ form.email.label }}#}
            {{ form.email(class="bg-white text-lightgray border-2 p-1 rounded-lg focus:outline-lightblue w-full sm:w-[290px]", placeholder="Email..", size=32) }}
            {% for error in form.email.errors %}
            <p style="color: rgb(228, 142, 36);">{{error}}</p>
            {% endfor %}</br></br>
    
            {#{{ form.password.label }}#}
            {{ form.password(class="bg-white text-lightgray border-2 p-1 rounded-lg focus:outline-lightblue w-full sm:w-[290px]", placeholder="Password...", size=32) }}
            {% for error in form.password.errors %}
            <p style="color: rgb(228, 142, 36);">{{error}}</p>
            {% endfor %}</br></br>
    
            {{ form.remember_me()}} {{ form.remember_me.label(class="text-white md:text-lightgray") }}</br></br>
            {{ form.submit(class="text-white px-2 py-1 rounded-sm bg-lightblue") }}</br></br>
            <span class="relative block text-white before:block before:top-[20px] before:p-[1px] before:inset-0 before:w-[80%] before:rounded-sm before:bg-lightblue md:text-lightgray">No account? <a href="{{ url_for('register') }}" class="text-lightblue">Register here</a></span>
    
        </form>
        <!--<div class="g-signin2 mt-10 on-signin" data-onsuccess="onSignIn"></div>-->
        <div id="g_id_onload"
            data-client_id="25158261190-9emalbugfgsvbn9cv7fao3vp6kmi3h37.apps.googleusercontent.com"
            data-callback="handleCredentialResponse"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large">
        </div>
    </div>
    <div class="relative h-screen hidden md:block md:w-[40%] lg:w-[45%]">
        <img class="w-full h-full object-cover" src="../static/images/write.webp" alt="">
        <!--<h1 class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-2xl">Welcome to storyafrika</h1>-->
    </div>
    
</section>
{% endblock %}