<section class="new-profile-card absolute z-30 right-0 mx-auto bg-offwhite shadow-lg rounded-sm w-[250px] top-16 hidden">
    <div class="h-[17px] w-[17px] rotate-45 bg-offwhite absolute top-[-8px] right-5">
        <!--
        /\
        __
        -->
    </div>
    <section>
        <article class="mt-8 my-8 px-8">
            {% include 'username-card.html' %}
        </article>
        {% include 'divider-black.html' %}
        <!-- write -->
        <article class="my-4 px-8">
            <div class="flex gap-2 items-center">
                <a href="{{ url_for('write')}}" class="self-start"><img src="/static/icons/write.svg" alt=""></a>
                <p class="text-lightgray text-base"><a href="{{ url_for('write')}}" class="self-start">Write</a></p>
            </div>
        </article>

        <section>
            <!-- profile-->
            <article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}" class="self-start"><img src="/static/icons/profile.svg" alt=""></a>
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}"><p class="text-lightgray text-base">Profile</p></a>
                </div>
            </article>
            <!-- bookmark -->
            <article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}" class="self-start"><img src="/static/icons/bookmark.svg" alt=""></a>
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}"><p class="text-lightgray text-base">Bookmarks</p></a>
                </div>
            </article>
            <!-- stories-->
            <article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}" class="self-start"><img src="/static/icons/books.svg" alt=""></a>
                    <p class="text-lightgray text-base">Stories</p>
                </div>
            </article>
            <!-- Likes -->
            <article class="my-4 px-8">
                <div class="flex gap-2 items-center">
                    <a href="{{ url_for('profile', username='@' + current_user.username)}}" class="self-start"><img src="/static/icons/like.svg" alt=""></a>
                    <p class="text-lightgray text-base">Likes</p>
                </div>
            </article>
        </section>
        {% include 'divider-black.html' %}
        <article class="mt-8 my-8 px-8">
            <p class="text-black text-base">Terms of Service</p>
            <p class="text-black text-base my-4"><a href="https://storyafrika.live/about-us">About Us</a></p>
            <p class="text-black text-base"><a href="https://storyafrika.live/out-story">Our Story</a></p>
        </article>
        {% include 'divider-black.html' %}
        <!-- donate -->
        <article class="my-4 px-8">
            <div class="flex gap-2 items-center">
                <a href="{{ url_for('write')}}"><img src="/static/icons/donate.svg" alt="" class="self-start"></a>
                <p class="text-lightgray text-base"><a href="https://storyafrika.live/donate">Donate</a></p>
            </div>
        </article>
        {% include 'divider-black.html' %}
        <!-- sign out -->
        <article class="my-4 px-8 flex justify-center">
            <a href="/logout" class="text-lightblue">Sign out</a>
        </article>
    </section>
</section>