<div class="flex w-[200px] md:w-[250px] lg:w-[300px] items-center">
    <div class="profile flex items-center">
       
        {% if story.writer.avatar %}
        <img class=" w-[40px] h-[40px] object-cover border-2 rounded-full" src="{{ url_for('upload', filename=story.writer.avatar, user_id=story.writer.id) }}" alt="">
        {% else %}
        <img class=" w-[40px] h-[40px] object-cover border-2 rounded-full" src="https://picsum.photos/200/400" alt="">
        {% endif %}
        {% if story %}
        <h2 class="md:ml-5 lg:ml-5 text-sm">{{story.writer.username}}</h2>
        {% endif %}
    </div>
    <div class="w-[5px] h-[5px] rounded-full bg-black mx-[5px]"></div>
    <div class="time text-xs">
        {% if other_story %}
        {{moment(other_story.created_at).fromNow()}}
        {% elif story %}
        {{moment(story.created_at).fromNow()}}
        {% endif %}
    </div>
</div>