<div class="flex w-[300px] items-center">
    <div class="profile flex items-center">
        <img class=" w-[40px] h-[40px] object-cover border-2 rounded-full" src="https://picsum.photos/200/400" alt="">
        {% if story %}
        <h2 class="ml-5 text-sm">{{story.writer.username}}</h2>
        {% elif bookmark %}
        <h2 class="ml-5 text-sm">{{bookmark.story.writer.username}}</h2>
        {% elif like %}
        <h2 class="ml-5 text-sm">{{like.story.writer.username}}</h2>
        {% endif %}
    </div>
    <div class="w-[10px] h-4 border-lightgray border-l ml-[15px] mr-[15px]"></div>
    <div class="time text-xs">
        {% if other_story %}
        {{other_story.created_at}}
        {% elif story %}
        {{story.created_at}}
        {% elif bookmark %}
        {{bookmark.story.created_at}}
        {% elif like %}
        {{like.story.created_at}}
        {% endif %}
    </div>
</div>