<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>storyafrika | inspiring journey - success stories and experiences of everyday Africans</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tailwind.css">
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/main.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://stories.storyafrika.live">
    <meta content="Storyafrika is a platform showcasing the real-life experiences and stories of individual Africans, highlighting their upbringing, everyday successes, and much more." property="og:description">
    <link rel="me" href="https://www.linkedin.com/in/david-conteh-a42871253/">
    <meta content="storyafrika - Success Stories and Experiences of Everyday Africans" property="og:title">
    <meta content="https://stories.storyafrika.live" property="og:url">
    <meta content="/static/images/write.webp" property="og:image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="storyafrika - Success Stories and Experiences of Everyday Africans">
    <meta name="twitter:description" content="Storyafrika is a platform showcasing the real-life experiences and stories of individual Africans, highlighting their upbringing, everyday successes, and much more.">
    <meta name="twitter:image" content="./write.webp">
    <link rel="icon" type="image/webp" href="/static/images/storyafrka.png">
    <title>storyafrika | inspiring journey - success stories and experiences of everyday Africans</title>
    <link rel="stylesheet" href="tailwind.css">

    <script src="/static/js/comment-view.js" defer></script>
</head>
<body data-current_user_id="{{current_user.id}}" class="relative">
    <header>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="ml-5 float right absolute">
        {% for message in messages %}
        <li class="bg-lightblue p-1 mt-2 rounded-sm text-white">{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
        {% endwith %}
    </header>
    {% block home %} {% endblock %}
    {% block story %} {% endblock %}
    {% block write %} {% endblock %}
    {% block miscellaneous %} {% endblock %}
    {{ moment.include_moment() }}


</body>
</html>