{% extends 'root.html' %}

{% block  story %}
    <header class="mt-[60px] container mx-auto flex justify-between items-center px-5 sm:px-2">
        <h1 class="text-xl"><a href="{{ url_for('home') }}">storyafrika</a></h1>
        {% if current_user.avatar %}
        <div class="rounded-full w-[60px] h-[60px] border">
            <img class="rounded-full w-full h-full object-cover" src="{{ url_for('upload', filename=current_user.avatar, user_id=current_user.id) }}" alt="" srcset="">
        </div>
        {% else %}
        <div class="rounded-full w-[60px] h-[60px] border">
            <img class="rounded-full w-full h-full object-cover" src="https://picsum.photos/200/400" alt="" srcset="">
        </div>
        {% endif %}
    </header>
    <main class="story-card" data-story_id={{story.id}}>
        <h2 class="container mx-auto font-medium text-[45px] mt-[60px] mb-[20px] px-5 sm:px-2">{{story.title}}</h2>
        <div class="profile mb-[30px] container mx-auto px-5 sm:px-2 ">
            <div class="flex items-center">
                {% if story.writer.avatar %}
                <img class="rounded-full h-[50px] w-[50px] object-cover" src="{{ url_for('upload', filename=story.writer.avatar, user_id=story.writer.id) }}" alt="">
                {% else %}
                <img class="rounded-full h-[50px] w-[50px] object-cover" src="https://picsum.photos/200/700" alt="">
                {% endif %}
                <div class="ml-[15px]">
                    <div class="flex gap-[15px] follow-card" data-user_id={{story.writer.id}}>
                        <h3>{{story.writer.username}}</h3>
                        {% if story.writer.id != current_user.id %}
                        {% if current_user.is_authenticated %}
                            {% if current_user.is_following(story.writer) %}
                                <button class="follow flex items-center text-lightblue unfollow"><img src="/static/icons/correct.svg" alt="">Following</button>
                            {% else %}
                                <button class="follow flex items-center text-lightblue"><img src="/static/icons/plus.svg" alt="">Follow</button>
                            {% endif %}
                        {% else %}
                            <button class="follow text-sm flex items-center text-lightblue"><img src="/static/icons/plus.svg" alt="">Follow</button>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="mt-[5px] flex gap-[5px] items-center">
                        <p>{{story.read_time}} min read</p>
                        <p class="w-2 h-2 bg-black rounded-full mx-2"></p>
                        <p>{{ moment(story.created_at).fromNow()}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions container mx-auto relative">
            <hr class="bg-black border-2 border-black">
            {% include 'actions.html' %}
            <hr class="border-2 mt-2 mb-[30px] border-black">
        </div>
        <section class="content container mx-auto">
            {% if story.image %}
            <div class="pl-[30px] pr-[30px] h-[300px] min-h-[200px] max-h-[250px] lg:h-[400px]  lg:max-h-[600px] w-full mb-[50px]">
                <!--{#{% if story.image and not 'fastly.picsum.photos' in story.image %}
                <img class='w-full h-full object-scale-down view-image' src="{{ url_for('upload', filename=story.image, user_id=story.writer.id )}}" alt="" srcset="">
                {% elif 'fastly.picsum.photos' in story.image %}
                <img class='w-full h-full object-scale-down' src="{{story.image}}" alt="" srcset="">
                {% else %}
                <img class='w-full h-full object-scale-down' src="https://unsplash.it/500" alt="" srcset="">
                {% endif %}#}-->
                    <img class='view-image w-full h-full object-cover md:object-center' src="{{story.image}}" alt="" srcset="">
                </div>
                {% endif %}
            <div class="pl-[30px] pr-[30px] story-story-text text-lg text-lightgray" data-story_id="{{story.id}}">
                <p class="text-xl">{{story.text}}</p>
            </div>
        </section>
        <div class="mt-[80px] container mx-auto relative">
            {% include 'actions.html' %}
        </div>
        <hr class="border-2 mt-[120px] mb-[30px] border-black">
        <section class="container mx-auto px-5 sm:px-2 pb-10">
            <h3 class="mt-[50px] mb-[30px] text-[20px] font-medium">More from <span class="text-lightblue">{{story.writer.username}}</span></h3>
            <div class="flex justify-center sm:justify-start items-center gap-5 flex-wrap">
                {% for other_story in story.writer.stories %}
                {% if other_story != story %}
                {% if loop.index <= 3 %}
                <div class="min-h-[200px] max-h-[380px] w-[300px] rounded-md shadow-sm bg-offwhite">
                    {% if other_story.image %}
                    {#<img class="h-[200px] w-full object-cover" src="{{ url_for('upload', filename=other_story.image, user_id=other_story.writer.id) }}" alt="">#}
                    <img class="h-[200px] w-full object-cover rounded-md" src="{{other_story.image}}" alt="">
                    {% else %}
                    <img class="h-full w-full object-cover rounded-md" src="https://unsplash.it/500" alt="">
                    {% endif %}
                    <div class="mt-[20px] mb-[10px] px-3">
                        <p class="text-lg font-medium"><a href="{{ url_for('story', story_id=other_story.id) }}">{{other_story.title}}</a></p>
                        <p class="mt-[10px] mb-[20px] w-full overflow-x-hidden whitespace-nowrap overflow-ellipsis">{{other_story.plain_text}}</p>
                        <p class="text-[10px]">{{other_story.read_time}} min read</p>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                {% else %}
                        <p>{{ story.writer }} has not writer any other story</p>
                {% endfor %}
            </div>
        </section>
    </main>

    <div class="divider inset-0 w-full h-full fixed hidden"></div>
    {% include 'confirm-deletion.html' %}
    {% include 'comments-view.html' %}
{% endblock %}
