{% extends 'root.html' %}
{% block write %}
<head>
    <link rel="stylesheet" href="/static/text-editor.css">
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/jquery-ui.js" defer></script>
    <script src="/static/js/text-editor.js" defer></script>
    <link rel="stylesheet" href="/static/jquery-ui.css">

</head>
<header class="mt-[60px] container mx-auto relative flex justify-between items-center">
    {#{% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class="ml-5 float right absolute">
        {% for message in messages %}
        <li class="bg-lightblue p-1 mt-2 rounded-sm text-white">{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}#}
    <div class="flex gap-5">
        <h1 class="text-xl"><a href="{{ url_for('home')}}">storyafrika</a></h1>
        <button class="save-state">Save</button>
    </div>
    <div class="rounded-full w-[60px] h-[60px] border">
        {% if current_user.avatar %}
        <img class="rounded-full w-full h-full object-cover" src="{{ url_for('upload', filename=current_user.avatar) }}" alt="" srcset="">
        {% else %}
        <img class="rounded-full w-full h-full object-cover" src="/static/images/default-profile-image.png" alt="" srcset="">
        {% endif %}
    </div>
</header>
<main class="container mx-auto relative">
    {% include 'text-editor.html' %}
</main>
<div class="hidden bg-shadow absolute inset-0 h-screen opacity-[45%] bg-lightblue z-10"></div>
<div class="hidden title-form fixed -mt-[10%] justify-center items-center top-[50%] left-0 right-0 w-full z-30">
    <div class="enter-title p-5 rounded-md bg-white w-full md:w-[500px]">
        <h3 class="text-lightgray mb-5">Enter a title for you Story</h3>
        <form action="" class="flex flex-col gap-5">
            <input id="title" type="text" class="border story-title-input pl-1 py-1 border-lightblue focus:outline-lightblue" autofocus>
            <div class="self-end flex items-center gap-3">
                <p class="text-sm continue-editing hover:cursor-pointer">continue editing</p>
                <button class="publish opacity-55 self-end bg-lightblue py-[5px] px-[10px] rounded-md text-white" type="submit" value="Publish" disabled>Publish</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}