<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{user.short_bio}}" property="og:description">
    <meta content="storyafrika - {{user.username}}" property="og:title">
    <meta content="https://stories.storyafrika.live/profile/@{{user.username}}" property="og:url">
    <meta content="/static/images/write.webp" property="og:image">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="storyafrika - {{user.username}}">
    <meta name="twitter:description" content="{{user.short_bio}}">
    <meta name="twitter:image" content="{{user.banner}}">

    <!-- google oAuth2 client id -->
    <meta name="google-signin-client_id" content="25158261190-9emalbugfgsvbn9cv7fao3vp6kmi3h37.apps.googleusercontent.com">

    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="Cross-Origin-Opener-Policy" content="">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/tailwind.css">
    <link rel="canonical" href="https://stories.storyafrika.live">
    <link rel="icon" type="image/png" href="/static/images/logo.jpg">
    <link rel="me" href="https://www.linkedin.com/in/david-conteh-a42871253/">
    <title>storyafrika - @{{user.username}}</title>
    
    <script src="/static/js/jquery.min.js" defer></script>
    <script src="/static/js/main.js" defer type="module"></script>
    <script src="/static/js/comment-view.js" defer></script>
    <script src="/static/js/topic/topic.js" defer></script>
    <script src="/static/js/user/user.js" defer></script>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FW17L5LYTT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-FW17L5LYTT');
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body class="max-w-screen-md mx-auto">
    {% include 'components/navbar.html' %}
    <!-- hero -->
    <section class="mt-[70px] mb-[50px]">
        <article class="container mx-auto flex flex-col justify-center items-center">
            <img class="block mx-auto w-full h-[200px] object-cover sm:rounded-md" src="/static/images/nice-banner.jpg" alt="" srcset="">
        </article>
    </section>

    <!-- profile card -->
    <section class="container mx-auto mb-[50px] px-3 sm:px-0">
        {% include 'user/profile-card.html' %}
    </section>

    <!-- nav -->
    <section class="container mx-auto">
        <!-- before:absolute before:inset-0 before:w-[15%] before:block before:border-b-black before:border-b-2 before:mx-auto-->
        {% set where = 'profile' %}
        {% include 'components/nav-in-topic-and-profile.html' %}
        <!-- about -->
        <article class="topic-about-container hide-this my-[50px] relative mx-auto md:px-0 md:w-[600px]">
            <!-- about text -->
            <p class="profile-about-text about-text text-black text-xl px-5 md:px-0">{{current_user.about}}</p>
            <button class="edit-topic-about-text-btn text-lightblue absolute top-[105%] right-5">Edit</button>
            <form action="/edit-profile" method="post" hidden>
                {{ form.about(class="about-input bg-white text-lightgray border-2 p-1 rounded-lg focus:outline-lightblue w-full sm:w-[290px]", placeholder="Email", value=current_user.about) }}
                <!--edit-profile-about-submit-btn-->
                {{ form.submit(class="edit-profile-about-submit-btn text-white px-2 py-1 rounded-sm bg-lightblue") }}</br></br>
            </form>
        </article>
        <article class="profile-stories-container container stories-container max-w-xl relative mx-auto mt-[20px] mb-20 pt-[25px] pb-[25px] px-5 flex flex-col gap-[50px] shrink-1 h-screen overflow-y-scroll no-scrollbar ">
            
        </article>
    </section>

    {% include 'user/edit-profile-card.html' %}
    {% include 'components/separator.html' %}
    {{ moment.include_moment() }}
</body>
</html>