<div class="self-center flex-shrink-0 md:self-start">
    {% if current_user.avatar %}
    <button class="change-img-button-container border-2 rounded-full relative overflow-hidden"><img class="profile-image block {{w if w else 'w-[100px]'}} {{ h if h else 'h-[100px]'}} rounded-full object-cover flex-shrink-0" src="{{user.avatar}}" alt=""> <div class="image-btn-change hidden text-xs absolute inset-0 p-1 h-[25px] top-[45%] left-[20%] bg-white text-lightgray z-10 cursor-pointer">Change image</div></button>
    {% else %}
    <button class="change-img-button-container border-2 rounded-full relative overflow-hidden"><img class="profile-image block {{w if w else 'w-[100px]'}} {{ h if h else 'h-[100px]'}} rounded-full object-cover flex-shrink-0" src="/static/images/default-profile-image.png" alt=""> <div class="image-btn-change hidden text-xs absolute inset-0 p-1 h-[25px] top-[45%] left-[20%] bg-white text-lightgray z-10 cursor-pointer">Change image</div></button>
    {% endif %}
    <input id="file-input-field" class="hidden" type="file" accept="image/*">
    {#<!--<input id="csrfToken" name="csrf_token" type="hidden" value="{{ csrf_token() }}">-->#}
</div>